# Library

In [1]:
import os
import shutil
import numpy as np
import scipy
import pandas as pd
import math
import random
import sklearn
from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from collections import defaultdict
import matplotlib.pyplot as plt
from collections import defaultdict
from sklearn.metrics import mean_squared_error
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
def display_full(x, columns=False):
    pd.set_option('display.max_rows', len(x))
    if columns:
        pd.set_option('display.max_columns', len(x.columns))

    display(x)
    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')
    pd.set_option('display.max_rows', 500)
    pd.set_option('display.max_columns', 500)
    pd.set_option('display.width', 1000)

# Import Data

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
# !mkdir /content/movie_list
shutil.unpack_archive('/content/drive/MyDrive/Colab Dataset/movielens-latest.zip', '/content/movie_list/')
main_path = '/content/movie_list/ml-latest'

movie_data = pd.read_csv('/content/movie_list/ml-latest/movies.csv')
display(movie_data.head())
link_data = pd.read_csv('/content/movie_list/ml-latest/links.csv')
display(link_data.head())
rating_data = pd.read_csv('/content/movie_list/ml-latest/ratings.csv')
display(rating_data.head())
tags_data = pd.read_csv('/content/movie_list/ml-latest/tags.csv')
display(tags_data.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

# 1.Collaborative Filtering with Matrix Factorization (from Scratch)

## Data Wrangling

Collaborative Filtering has a problem to user cold-start, which model might not be able to provide a decent recommendation list to those who have given low number of rating, therefore model have lack of information about cold-start user preference


In this stage, we are going to select user who have given at least interacted with 2000 movies and movies has been rated by 1000 users (this will help to reduce the table size, cause I have limited resources to compute masive table)

In [5]:
n_interacted = 2000
user_movie_data_temp = pd.pivot_table(rating_data, index = ['userId'], values='movieId', aggfunc='count')
user_movie_data_temp[user_movie_data_temp.movieId>=n_interacted]
selected_user_ids = user_movie_data_temp[user_movie_data_temp.movieId>=n_interacted].index
print('number of userIds: ', str(len(selected_user_ids)))

n_rated = 1000
get_rated_movie = pd.pivot_table(rating_data, index=['movieId'], values='userId', aggfunc='count')
get_rated_movie[get_rated_movie.userId>=n_rated]
selected_movie_ids = get_rated_movie[get_rated_movie.userId>=n_rated].index

print('numbser of movieIds: ', str(len(selected_movie_ids)))

filtered_rating_data = rating_data[(rating_data['userId'].isin(selected_user_ids)) &(rating_data['movieId'].isin(selected_movie_ids))]
filtered_rating_data['movieId'] = filtered_rating_data['movieId'].apply(lambda x: 'm_'+str(x))
# filtered_rating_data['user_movie'] = filtered_rating_data['userId'].astype(str) + '_' + filtered_rating_data['movieId'].astype(str)

print('raw data shape.  : ',str(filtered_rating_data.shape))

number of userIds:  424
numbser of movieIds:  3931
raw data shape.  :  (736327, 4)

In [6]:
filtered_rating_data = filtered_rating_data[['userId','movieId','rating']]
filtered_rating_data

          userId   movieId  rating
128418      1272       m_1     3.5
128419      1272       m_7     2.0
128420      1272      m_11     4.0
128421      1272      m_16     2.5
128422      1272      m_21     3.0
...          ...       ...     ...
27735125  283000  m_177615     4.0
27735126  283000  m_177765     4.0
27735140  283000  m_179819     4.0
27735141  283000  m_180031     3.5
27735159  283000  m_187593     3.5

[736327 rows x 3 columns]

## train test split

In [7]:
train_df, test_df =  train_test_split(filtered_rating_data, 
                                   stratify = filtered_rating_data['userId'],
                                   test_size = 0.2,
                                   random_state = 42)

print('train_df size:{}'.format(len(train_df)))
print('test_df size:{}'.format(len(test_df)))

train_df size:589061
test_df size:147266

While the information we require is present, it is not presented in a way that is beneficial for humans to comprehend. However, I have created a table that presents the same data in a format that is easier for humans to understand.

In [8]:
user_movie_data_train = train_df.pivot(index='userId', columns='movieId', values='rating').fillna(0.0)
user_movie_data_train

movieId,m_1,m_10,m_100,m_100163,m_1003,m_100383,m_1004,m_100498,m_1005,m_1006,...,m_98961,m_99007,m_991,m_99112,m_99114,m_99149,m_994,m_996,m_99813,m_999
userId,,,,,,,,,,,,,,,,,,,,,
1272,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.5,0.0,3.5,0.0,0.0,0.0
2025,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,3.5,0.0,2.5,4.0,3.0,0.0,0.0,0.0,0.0
2150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0
2294,0.0,0.0,4.0,1.5,0.0,3.5,0.0,2.0,0.0,0.0,...,2.0,2.5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,4.0
2329,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,3.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280585,5.0,3.5,3.5,0.0,0.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
280868,0.0,2.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,2.5,0.0,0.0,0.0,4.0,0.0,3.5,0.0,0.0,0.0
281631,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
281790,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
283000,4.5,3.5,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,3.5,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0

# Concept of Matrix Factorization

In [9]:
def matrix_factorization(R, K, steps=5, alpha=0.002, beta=0.02):
    '''
    R: rating matrix
    P: |U| * K (User features matrix)
    Q: |D| * K (Item features matrix)
    K: latent features
    steps: iterations
    alpha: learning rate
    beta: regularization parameter
    
    '''
 
    P = np.random.rand(len(R),K)
    Q = np.random.rand(len(R[0]),K)
    Q = Q.T

    for step in range(steps):
        print('Processing epoch {}'.format(step))
        
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                    for k in range(K):
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])

        eR = np.dot(P,Q)

        e = 0

        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)
                    for k in range(K):
                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
        # 0.001: local minimum
        if e < 0.001:

            break

    return P, Q.T

In [10]:
R = np.array(user_movie_data_train)
nP, nQ = matrix_factorization(R, K=10)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4

Transforming prediction to reconstructed matrix back into a Pandas dataframe.

In [11]:
pred_R = np.dot(nP, nQ.T)

# Transforming prediction to reconstructed matrix back into a Pandas dataframe in cross-tabural format
user_movie_pred = pd.DataFrame(pred_R, columns=user_movie_data_train.columns, index=list(user_movie_data_train.index))
print(user_movie_pred.shape)
user_movie_pred.head(10)

(424, 3931)

movieId,m_1,m_10,m_100,m_100163,m_1003,m_100383,m_1004,m_100498,m_1005,m_1006,...,m_98961,m_99007,m_991,m_99112,m_99114,m_99149,m_994,m_996,m_99813,m_999
1272,3.735673,3.027860,2.763605,2.455705,2.652861,3.181598,2.157176,2.134720,1.969594,2.648396,...,3.591778,2.960264,3.080945,3.253201,3.740445,2.992435,3.641021,2.647590,3.226346,2.921317
2025,4.607745,3.740133,3.480333,3.144934,3.179747,3.985038,2.518903,2.759624,2.321163,3.074867,...,4.100505,3.658158,3.812278,3.853485,4.487234,3.639213,4.333279,3.189702,4.049339,3.506791
2150,4.272514,3.410622,3.133937,2.872539,3.072550,3.753063,2.498425,2.547928,2.147251,2.982076,...,3.975518,3.422284,3.547729,3.681591,4.239230,3.403992,4.134700,3.113936,3.826688,3.404749
2294,3.483190,2.843854,2.607246,2.364914,2.315838,2.986017,1.951723,2.092785,1.849122,2.392773,...,3.251155,2.744832,2.944677,2.909869,3.441271,2.822187,3.386765,2.381784,2.981357,2.724866
2329,4.446563,3.573345,3.297245,2.978194,3.068511,3.868279,2.492232,2.667031,2.225207,3.070688,...,4.058573,3.550056,3.716832,3.777455,4.327720,3.535663,4.252082,3.102598,3.956291,3.466916
2551,3.987597,3.024001,2.973447,2.679168,2.527373,3.265841,1.861138,2.109318,1.703336,2.405896,...,3.170439,2.857409,3.240700,2.961413,3.687116,3.068296,3.582000,2.551238,3.189968,2.579945
2629,4.499855,3.592571,3.311423,2.984118,3.144853,3.856156,2.532812,2.640916,2.261542,3.050234,...,4.134764,3.609865,3.725442,3.786054,4.423049,3.602410,4.299265,3.182454,3.929446,3.469604
4027,4.671176,3.684927,3.369455,3.141599,3.311902,4.029169,2.695433,2.715683,2.223083,3.269857,...,4.353793,3.663054,3.880920,3.916321,4.577518,3.706308,4.548788,3.334933,4.103748,3.733081
4605,3.290080,2.710631,2.461078,2.335966,2.488688,3.031681,2.057953,2.066739,1.698239,2.296406,...,3.050886,2.633356,2.724002,2.895468,3.318901,2.585429,3.207811,2.529777,3.047218,2.763222
4796,3.406018,2.798793,2.543738,2.265337,2.420186,2.912582,1.912666,2.083387,1.744077,2.316433,...,3.155505,2.859107,2.809161,2.921463,3.330606,2.709641,3.223412,2.388351,3.061513,2.701911

In [12]:
# User Matrix
Pu = pd.DataFrame(nP, index=list(user_movie_data_train.index))
# Movie Matrix
Qu = pd.DataFrame(nQ, index=user_movie_data_train.columns)

# This matrix can be used independently to predict testing dataset

In [13]:
def predict_rating(data):
    try:
        pred_rating = np.dot(Pu.loc[data.userId], Qu.loc[data.movieId].T)
    except Exception as e:
        pred_rating = np.nan
        print('Unknown user: {} or movieId: {}'.format(data.userId,data.movieId))
    return pred_rating

In [14]:
test_df['pred_rating'] = test_df.apply(predict_rating, axis=1)

In [15]:
test_df['userId'] = test_df['userId'].apply(lambda x: 'user_'+str(x))
test_df

               userId   movieId  rating  pred_rating
25761256  user_263149    m_3176     3.5     4.100837
22315943  user_228128    m_7419     2.5     3.716400
24342373  user_248881   m_89774     1.5     3.090492
18711521  user_190879  m_143355     3.0     3.291458
12150140  user_124492    m_2325     4.0     2.867495
...               ...       ...     ...          ...
13061955  user_133546   m_77561     4.0     3.180395
13866589  user_141955    m_3104     3.0     3.083342
26766434  user_273271    m_3396     3.5     3.565933
7491494    user_77157    m_3548     3.0     2.854872
23177168  user_236981    m_3397     4.5     3.502188

[147266 rows x 4 columns]

# Evaluation

In [16]:
rmse_test = mean_squared_error(test_df['rating'], test_df['pred_rating'], squared=False)
rmse_test

0.8286958971486692

In [17]:
def precision_recall_at_k(predictions, k, threshold):
    user_pred_true = defaultdict(list)
    for uid, mid, true, pred in predictions.values:
        user_pred_true[uid].append((pred, true))

    # print(user_pred_true)
    precisions = dict()
    recalls = dict()
    global_n_rel = 0
    global_n_rec_k = 0
    global_n_rel_and_rec_k = 0
    global_precisions = 0
    global_recalls = 0

    for uid, user_ratings in user_pred_true.items():
    #     print(user_ratings)
        user_ratings.sort(key=lambda x: x[0], reverse=True)

    #     print(user_ratings)
        n_rel = sum((true >= threshold) for (_,true) in user_ratings)

        n_rec_k = sum((pred >= threshold) for (pred,_) in user_ratings[:k])

        n_rel_and_rec_k = sum(((true >= threshold) and (pred >= threshold)) for (pred,true) in user_ratings[:k])

        precisions[uid] = n_rel_and_rec_k / n_rec_k if n_rec_k !=0 else 0
        recalls[uid] = n_rel_and_rec_k / n_rel if n_rel != 0 else 0

        
        
        global_n_rel += n_rel
        global_n_rec_k += n_rec_k
        global_n_rel_and_rec_k += n_rel_and_rec_k


    global_precisions = global_n_rel_and_rec_k / global_n_rec_k if global_n_rec_k !=0 else 0
    global_recalls = global_n_rel_and_rec_k / global_n_rel if global_n_rel != 0 else 0

    return precisions, recalls, global_precisions, global_recalls

In [18]:
k = 3
threshold = 4
individual_precision, individual_recall, global_precision, global_recall =  precision_recall_at_k(test_df, k, threshold)

In [19]:
print(individual_precision)
print(individual_recall)
print(global_precision)
print(global_recall)

{'user_263149': 1.0, 'user_228128': 1.0, 'user_248881': 0, 'user_190879': 0, 'user_124492': 1.0, 'user_134596': 1.0, 'user_87694': 1.0, 'user_243324': 1.0, 'user_201646': 0, 'user_281790': 0, 'user_141955': 0, 'user_169639': 0.6666666666666666, 'user_253059': 1.0, 'user_2629': 1.0, 'user_51515': 1.0, 'user_71277': 0.6666666666666666, 'user_191063': 0, 'user_111908': 0, 'user_60950': 1.0, 'user_102042': 1.0, 'user_19924': 1.0, 'user_5176': 1.0, 'user_19679': 1.0, 'user_176323': 1.0, 'user_191444': 0.5, 'user_33854': 1.0, 'user_146760': 0, 'user_27983': 0.3333333333333333, 'user_133398': 1.0, 'user_67910': 1.0, 'user_245960': 1.0, 'user_205765': 0.6666666666666666, 'user_199011': 0.6666666666666666, 'user_18490': 1.0, 'user_61055': 0, 'user_26786': 0, 'user_51571': 1.0, 'user_263685': 1.0, 'user_158194': 1.0, 'user_248694': 0, 'user_44565': 1.0, 'user_137577': 0.3333333333333333, 'user_21001': 1.0, 'user_232485': 0, 'user_123100': 1.0, 'user_93731': 1.0, 'user_181291': 1.0, 'user_274332': 0, 'user_59314': 1.0, 'user_103438': 1.0, 'user_104322': 1.0, 'user_52278': 0, 'user_95730': 0, 'user_273842': 0.0, 'user_269098': 0, 'user_117870': 1.0, 'user_175956': 0.0, 'user_107383': 0, 'user_273271': 0.6666666666666666, 'user_252364': 0, 'user_280868': 1.0, 'user_216695': 1.0, 'user_231832': 1.0, 'user_105104': 1.0, 'user_23026': 1.0, 'user_223606': 0, 'user_56351': 0, 'user_151607': 1.0, 'user_166101': 1.0, 'user_34504': 0, 'user_104372': 0, 'user_195821': 0.6666666666666666, 'user_45622': 0, 'user_128084': 1.0, 'user_217399': 0, 'user_110892': 1.0, 'user_153795': 1.0, 'user_112491': 1.0, 'user_190218': 1.0, 'user_275841': 0, 'user_93773': 1.0, 'user_42746': 0, 'user_120249': 0, 'user_172357': 0, 'user_54740': 0, 'user_93512': 1.0, 'user_223078': 1.0, 'user_57392': 1.0, 'user_188066': 1.0, 'user_195408': 0, 'user_203626': 1.0, 'user_175332': 1.0, 'user_248019': 1.0, 'user_155328': 0.6666666666666666, 'user_159137': 1.0, 'user_28881': 0.6666666666666666, 'user_61614': 1.0, 'user_66130': 0, 'user_101578': 0, 'user_242683': 1.0, 'user_135714': 0.6666666666666666, 'user_71938': 0, 'user_253813': 0.3333333333333333, 'user_253511': 0.3333333333333333, 'user_151049': 0.6666666666666666, 'user_283000': 1.0, 'user_261887': 0.6666666666666666, 'user_19596': 1.0, 'user_171345': 1.0, 'user_183233': 0, 'user_268292': 1.0, 'user_138332': 1.0, 'user_71955': 1.0, 'user_205855': 1.0, 'user_22036': 0, 'user_85980': 0, 'user_14320': 0, 'user_278420': 1.0, 'user_220709': 0, 'user_127004': 1.0, 'user_227150': 0.5, 'user_115715': 0, 'user_236068': 0.6666666666666666, 'user_184762': 0, 'user_153081': 1.0, 'user_30759': 1.0, 'user_231770': 1.0, 'user_2150': 1.0, 'user_240068': 1.0, 'user_59611': 1.0, 'user_141034': 0, 'user_230433': 1.0, 'user_242154': 0, 'user_106397': 1.0, 'user_83575': 0, 'user_87265': 0, 'user_185319': 0.6666666666666666, 'user_276799': 0.3333333333333333, 'user_193493': 0, 'user_268681': 1.0, 'user_260133': 1.0, 'user_156633': 0.0, 'user_275244': 1.0, 'user_106873': 0.6666666666666666, 'user_56073': 1.0, 'user_6465': 1.0, 'user_184203': 1.0, 'user_70539': 0, 'user_219815': 0, 'user_111958': 0, 'user_6264': 0.6666666666666666, 'user_221882': 0, 'user_33550': 1.0, 'user_175927': 1.0, 'user_146406': 0, 'user_42494': 1.0, 'user_109040': 0.6666666666666666, 'user_217948': 1.0, 'user_54220': 0, 'user_250530': 1.0, 'user_220000': 1.0, 'user_169482': 1.0, 'user_148191': 1.0, 'user_158002': 1.0, 'user_133074': 1.0, 'user_142040': 1.0, 'user_212343': 0, 'user_19007': 0, 'user_133399': 0, 'user_85836': 0, 'user_58570': 0.5, 'user_234002': 1.0, 'user_63783': 1.0, 'user_57600': 0.3333333333333333, 'user_137540': 1.0, 'user_59455': 0, 'user_30587': 1.0, 'user_280148': 0.6666666666666666, 'user_11560': 0, 'user_168963': 0.6666666666666666, 'user_184822': 0, 'user_239066': 0.0, 'user_94843': 0, 'user_179605': 1.0, 'user_10714': 1.0, 'user_168076': 0.6666666666666666, 'user_174876': 0, 'user_214755': 0, 'user_37317': 1.0, 'user_67625': 0, 'user_71773': 1.0, 'user_139102': 0.3333333333333333, 'user_187986': 1.0, 'user_119138': 1.0, 'user_195628': 1.0, 'user_252672': 1.0, 'user_47714': 1.0, 'user_203009': 1.0, 'user_124188': 0.0, 'user_165149': 0.6666666666666666, 'user_231991': 1.0, 'user_227511': 1.0, 'user_184512': 1.0, 'user_226850': 1.0, 'user_275204': 0.6666666666666666, 'user_7705': 0, 'user_255842': 1.0, 'user_154058': 0, 'user_67272': 0.6666666666666666, 'user_206360': 1.0, 'user_31513': 0, 'user_75736': 1.0, 'user_266853': 0, 'user_240274': 1.0, 'user_81924': 0, 'user_40716': 0, 'user_215651': 0.3333333333333333, 'user_116110': 0.3333333333333333, 'user_159846': 0, 'user_155976': 0.6666666666666666, 'user_72194': 0.6666666666666666, 'user_242708': 1.0, 'user_166405': 0, 'user_222512': 0.6666666666666666, 'user_272546': 1.0, 'user_232384': 1.0, 'user_87425': 0, 'user_250224': 1.0, 'user_7932': 0, 'user_265550': 0, 'user_10379': 1.0, 'user_138487': 1.0, 'user_102235': 0.0, 'user_255993': 1.0, 'user_30074': 1.0, 'user_263213': 0, 'user_166659': 0, 'user_20869': 0.6666666666666666, 'user_2025': 1.0, 'user_241285': 1.0, 'user_175047': 0, 'user_133855': 0, 'user_211963': 0, 'user_62705': 0, 'user_236981': 0.3333333333333333, 'user_137652': 0.6666666666666666, 'user_14124': 1.0, 'user_109950': 0, 'user_210651': 1.0, 'user_141324': 0.3333333333333333, 'user_183363': 0.3333333333333333, 'user_95569': 1.0, 'user_271383': 1.0, 'user_152127': 0.6666666666666666, 'user_249690': 1.0, 'user_133546': 0, 'user_185756': 1.0, 'user_121219': 1.0, 'user_19309': 0.6666666666666666, 'user_58920': 1.0, 'user_117490': 1.0, 'user_237182': 0, 'user_95727': 0, 'user_117293': 1.0, 'user_173990': 0, 'user_79362': 1.0, 'user_195565': 0.5, 'user_133330': 0.6666666666666666, 'user_191028': 1.0, 'user_244621': 1.0, 'user_198149': 1.0, 'user_124534': 0.3333333333333333, 'user_70346': 1.0, 'user_73145': 0, 'user_25928': 1.0, 'user_61801': 1.0, 'user_8547': 1.0, 'user_18052': 1.0, 'user_236165': 1.0, 'user_201328': 0.6666666666666666, 'user_87000': 1.0, 'user_157679': 1.0, 'user_161582': 0.6666666666666666, 'user_199547': 1.0, 'user_273981': 1.0, 'user_52020': 0.6666666666666666, 'user_234257': 0.6666666666666666, 'user_171433': 1.0, 'user_69737': 0, 'user_218526': 1.0, 'user_35453': 0, 'user_179763': 1.0, 'user_263301': 1.0, 'user_149100': 0.6666666666666666, 'user_280585': 1.0, 'user_5323': 1.0, 'user_17633': 0.6666666666666666, 'user_175615': 1.0, 'user_134026': 0.3333333333333333, 'user_199733': 0, 'user_4605': 0, 'user_35790': 1.0, 'user_80398': 1.0, 'user_91135': 1.0, 'user_119752': 1.0, 'user_260317': 0, 'user_77609': 1.0, 'user_158879': 1.0, 'user_30293': 1.0, 'user_264081': 1.0, 'user_175312': 1.0, 'user_2329': 1.0, 'user_4027': 1.0, 'user_224634': 1.0, 'user_275720': 0.6666666666666666, 'user_256144': 1.0, 'user_175811': 1.0, 'user_74769': 1.0, 'user_28665': 1.0, 'user_11109': 1.0, 'user_260460': 1.0, 'user_136061': 1.0, 'user_38337': 0, 'user_64180': 0.6666666666666666, 'user_168220': 0, 'user_127225': 0.3333333333333333, 'user_275402': 0, 'user_173280': 0.6666666666666666, 'user_149682': 0, 'user_232676': 0, 'user_228472': 1.0, 'user_135932': 0.6666666666666666, 'user_264577': 0.3333333333333333, 'user_262989': 0, 'user_184947': 0.6666666666666666, 'user_83579': 0.6666666666666666, 'user_16225': 0.6666666666666666, 'user_251665': 1.0, 'user_33545': 1.0, 'user_40992': 1.0, 'user_231721': 0, 'user_5747': 0.6666666666666666, 'user_229908': 1.0, 'user_8805': 0.3333333333333333, 'user_261865': 0.6666666666666666, 'user_188070': 1.0, 'user_239426': 1.0, 'user_62861': 1.0, 'user_133016': 1.0, 'user_2294': 0, 'user_245857': 1.0, 'user_266004': 1.0, 'user_211520': 1.0, 'user_258474': 1.0, 'user_15041': 0, 'user_54271': 1.0, 'user_275269': 0, 'user_212144': 0, 'user_4796': 0, 'user_48470': 0, 'user_12152': 1.0, 'user_48083': 1.0, 'user_77157': 0, 'user_178517': 0, 'user_116631': 0.6666666666666666, 'user_263860': 0.3333333333333333, 'user_113755': 0.0, 'user_137096': 1.0, 'user_186859': 0, 'user_277685': 0, 'user_146942': 0, 'user_22947': 1.0, 'user_101957': 1.0, 'user_22226': 0, 'user_227459': 1.0, 'user_100060': 1.0, 'user_89873': 1.0, 'user_101240': 1.0, 'user_236867': 0.6666666666666666, 'user_41572': 0.6666666666666666, 'user_78982': 0, 'user_261224': 0.3333333333333333, 'user_37046': 0.3333333333333333, 'user_1272': 1.0, 'user_89524': 0.6666666666666666, 'user_83525': 1.0, 'user_275175': 0, 'user_127670': 1.0, 'user_23649': 0.0, 'user_94749': 1.0, 'user_106859': 0, 'user_66462': 0.5, 'user_86648': 1.0, 'user_194016': 1.0, 'user_94144': 1.0, 'user_35898': 1.0, 'user_116632': 0, 'user_142057': 1.0, 'user_65670': 1.0, 'user_278022': 0.3333333333333333, 'user_70282': 0, 'user_175313': 0.6666666666666666, 'user_128610': 0.6666666666666666, 'user_99662': 1.0, 'user_172271': 0.6666666666666666, 'user_208336': 0, 'user_281631': 1.0, 'user_208719': 0.6666666666666666, 'user_206816': 0.6666666666666666, 'user_95207': 1.0, 'user_192500': 0, 'user_77339': 1.0, 'user_12096': 0, 'user_29647': 0.0, 'user_95717': 1.0, 'user_237785': 0, 'user_230183': 1.0, 'user_117790': 1.0, 'user_152381': 0.6666666666666666, 'user_2551': 0.6666666666666666, 'user_151678': 0, 'user_247466': 1.0, 'user_198355': 0, 'user_261808': 1.0}

# 2.Collaborative Filtering using Surprise Package

In [20]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 772.0/772.0 kB 23.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=3096322 sha256=801645eac71d695f86c36847c7210c37275b932783a6f76f52b40a55ee68d4cb
  Stored in directory: /root/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [21]:
from surprise import Dataset, Reader, SVD
from surprise.model_selection import cross_validate, GridSearchCV, train_test_split

In [22]:
# using the same data set as above, then we fit in to suprise package
filtered_rating_data

          userId   movieId  rating
128418      1272       m_1     3.5
128419      1272       m_7     2.0
128420      1272      m_11     4.0
128421      1272      m_16     2.5
128422      1272      m_21     3.0
...          ...       ...     ...
27735125  283000  m_177615     4.0
27735126  283000  m_177765     4.0
27735140  283000  m_179819     4.0
27735141  283000  m_180031     3.5
27735159  283000  m_187593     3.5

[736327 rows x 3 columns]

In [ ]:
reader = Reader(rating_scale=(0.5,5))
data = Dataset.load_from_df(filtered_rating_data[['userId','movieId','rating']], reader)

trainset, testset = train_test_split(data, test_size=0.25)

# We'll use the famous SVD (one of matrix factorization) algorithm.
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
evaluation = cross_validate(algo, data, measures=['RMSE','MAE'], cv= 5, verbose=True)

In [ ]:
def get_top_n(predictions, n=5):
    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [26]:
top_n = get_top_n(predictions, 10)

for uid, user_ratings in top_n.items():
    print(uid, [mid for (mid, _) in user_ratings])

137652 ['m_2762', 'm_3147', 'm_76251', 'm_2329', 'm_174053', 'm_3793', 'm_480', 'm_50', 'm_4720', 'm_457']
59314 ['m_904', 'm_318', 'm_1201', 'm_1193', 'm_527', 'm_1178', 'm_55820', 'm_1206', 'm_1198', 'm_1219']
224634 ['m_912', 'm_318', 'm_337', 'm_953', 'm_4993', 'm_858', 'm_2918', 'm_930', 'm_1247', 'm_904']
83579 ['m_1270', 'm_260', 'm_356', 'm_1240', 'm_1291', 'm_4226', 'm_2194', 'm_3527', 'm_1272', 'm_457']
102042 ['m_50', 'm_593', 'm_1265', 'm_4226', 'm_899', 'm_1270', 'm_4993', 'm_1203', 'm_1201', 'm_2762']
133399 ['m_1213', 'm_318', 'm_1222', 'm_1387', 'm_1200', 'm_55820', 'm_16', 'm_80463', 'm_1234', 'm_6']
78982 ['m_5952', 'm_1221', 'm_50', 'm_318', 'm_858', 'm_541', 'm_1704', 'm_7361', 'm_6016', 'm_1214']
105104 ['m_1228', 'm_908', 'm_1214', 'm_1097', 'm_1387', 'm_61240', 'm_364', 'm_3435', 'm_6377', 'm_1304']
187986 ['m_858', 'm_318', 'm_1250', 'm_55820', 'm_44555', 'm_6', 'm_1193', 'm_48780', 'm_64614', 'm_58559']
275841 ['m_858', 'm_5445', 'm_590', 'm_81845', 'm_4995', 'm_1270', 'm_457', 'm_1207', 'm_36', 'm_1961']
104372 ['m_1089', 'm_541', 'm_110', 'm_2542', 'm_593', 'm_1200', 'm_1276', 'm_1136', 'm_2288', 'm_1233']
112491 ['m_3435', 'm_912', 'm_1280', 'm_1097', 'm_1131', 'm_3095', 'm_59018', 'm_1225', 'm_1', 'm_30707']
232485 ['m_318', 'm_356', 'm_58559', 'm_4310', 'm_6870', 'm_6', 'm_48385', 'm_53000', 'm_1270', 'm_4128']
245857 ['m_1201', 'm_1221', 'm_2985', 'm_1288', 'm_3030', 'm_1250', 'm_2571', 'm_111', 'm_318', 'm_1254']
71773 ['m_923', 'm_1212', 'm_1248', 'm_1219', 'm_1252', 'm_2936', 'm_5291', 'm_1178', 'm_7013', 'm_6985']
230183 ['m_750', 'm_858', 'm_55069', 'm_55820', 'm_7034', 'm_3030', 'm_3996', 'm_924', 'm_6867', 'm_8873']
206816 ['m_4973', 'm_1193', 'm_608', 'm_356', 'm_1270', 'm_1208', 'm_1219', 'm_6016', 'm_27773', 'm_1704']
169639 ['m_3793', 'm_64614', 'm_91529', 'm_109487', 'm_99114', 'm_4993', 'm_76251', 'm_122918', 'm_112623', 'm_1291']
230433 ['m_608', 'm_1394', 'm_1089', 'm_3424', 'm_1196', 'm_1193', 'm_1214', 'm_2076', 'm_223', 'm_1095']
275269 ['m_1275', 'm_2467', 'm_1676', 'm_3552', 'm_1198', 'm_2716', 'm_2478', 'm_968', 'm_2161', 'm_4084']
85980 ['m_2571', 'm_110', 'm_1270', 'm_858', 'm_1210', 'm_2858', 'm_2000', 'm_59315', 'm_296', 'm_590']
198149 ['m_1201', 'm_1208', 'm_260', 'm_3362', 'm_1200', 'm_5060', 'm_5952', 'm_6852', 'm_858', 'm_1240']
152127 ['m_1221', 'm_1387', 'm_908', 'm_55820', 'm_1250', 'm_1266', 'm_905', 'm_1265', 'm_1248', 'm_1147']
156633 ['m_858', 'm_1233', 'm_908', 'm_80463', 'm_1084', 'm_951', 'm_51540', 'm_930', 'm_111', 'm_55069']
22036 ['m_750', 'm_924', 'm_1201', 'm_6874', 'm_1214', 'm_7063', 'm_2010', 'm_3091', 'm_307', 'm_2997']
89524 ['m_2959', 'm_1265', 'm_7361', 'm_1704', 'm_1201', 'm_1196', 'm_904', 'm_112552', 'm_4226', 'm_1219']
234002 ['m_1201', 'm_1198', 'm_1178', 'm_1260', 'm_6016', 'm_904', 'm_1387', 'm_1209', 'm_1732', 'm_8874']
191444 ['m_296', 'm_1265', 'm_1196', 'm_2716', 'm_318', 'm_1200', 'm_1240', 'm_1', 'm_1213', 'm_33794']
191063 ['m_1206', 'm_1222', 'm_1258', 'm_2959', 'm_924', 'm_1089', 'm_1199', 'm_27773', 'm_6874', 'm_356']
16225 ['m_858', 'm_1387', 'm_1304', 'm_527', 'm_260', 'm_1997', 'm_1036', 'm_1193', 'm_3114', 'm_1225']
205765 ['m_1221', 'm_112552', 'm_110', 'm_589', 'm_527', 'm_48780', 'm_4226', 'm_1387', 'm_1270', 'm_1196']
22226 ['m_1198', 'm_1265', 'm_1220', 'm_1197', 'm_2761', 'm_750', 'm_908', 'm_1261', 'm_5971', 'm_3108']
124534 ['m_1240', 'm_1036', 'm_8340', 'm_293', 'm_1136', 'm_45950', 'm_2918', 'm_3039', 'm_1197', 'm_2005']
223606 ['m_1234', 'm_457', 'm_500', 'm_1610', 'm_1291', 'm_79132', 'm_2762', 'm_589', 'm_1028', 'm_45950']
168963 ['m_318', 'm_1732', 'm_2762', 'm_1136', 'm_25', 'm_1258', 'm_223', 'm_215', 'm_1219', 'm_6591']
63783 ['m_858', 'm_1242', 'm_1263', 'm_4178', 'm_1221', 'm_1280', 'm_1961', 'm_159817', 'm_4322', 'm_281']
242683 ['m_1252', 'm_903', 'm_1212', 'm_296', 'm_6985', 'm_3467', 'm_1244', 'm_1617', 'm_1939', 'm_3730']
52278 ['m_593', 'm_858', 'm_260', 'm_1387', 'm_1210', 'm_1240', 'm_2571', 'm_1213', 'm_122882', 'm_112552']
127670 ['m_1206', 'm_296', 'm_1213', 'm_1258', 'm_318', 'm_2959', 'm_1095', 'm_56782', 'm_1090', 'm_1104']
190218 ['m_593', 'm_1213', 'm_1208', 'm_5952', 'm_159817', 'm_608', 'm_47', 'm_922', 'm_1233', 'm_904']
19596 ['m_2762', 'm_5952', 'm_920', 'm_1219', 'm_4993', 'm_3916', 'm_4308', 'm_915', 'm_914', 'm_110']
234257 ['m_923', 'm_858', 'm_1233', 'm_86504', 'm_2028', 'm_4848', 'm_3362', 'm_36', 'm_2599', 'm_3462']
152381 ['m_593', 'm_1136', 'm_1213', 'm_922', 'm_1387', 'm_1217', 'm_4973', 'm_1089', 'm_2959', 'm_1240']
220709 ['m_541', 'm_926', 'm_2010', 'm_1208', 'm_1252', 'm_903', 'm_593', 'm_1213', 'm_3089', 'm_1617']
61801 ['m_527', 'm_1234', 'm_318', 'm_1089', 'm_8340', 'm_912', 'm_1221', 'm_1193', 'm_1240', 'm_2176']
244621 ['m_260', 'm_4226', 'm_1997', 'm_3421', 'm_1278', 'm_1193', 'm_1097', 'm_1245', 'm_318', 'm_1265']
48470 ['m_2571', 'm_318', 'm_47', 'm_858', 'm_2959', 'm_1036', 'm_33794', 'm_79132', 'm_174053', 'm_7361']
201328 ['m_858', 'm_1214', 'm_1997', 'm_1982', 'm_1617', 'm_1673', 'm_6', 'm_1', 'm_1304', 'm_2664']
183363 ['m_750', 'm_1131', 'm_1211', 'm_1303', 'm_926', 'm_3007', 'm_541', 'm_337', 'm_1945', 'm_908']
171433 ['m_318', 'm_1193', 'm_1203', 'm_1617', 'm_2571', 'm_260', 'm_1219', 'm_1210', 'm_7153', 'm_1247']
263860 ['m_1203', 'm_134130', 'm_81834', 'm_5952', 'm_7254', 'm_1222', 'm_3448', 'm_1527', 'm_142488', 'm_2529']
277685 ['m_318', 'm_593', 'm_1284', 'm_3508', 'm_4855', 'm_1226', 'm_48516', 'm_1374', 'm_1213', 'm_3365']
15041 ['m_2571', 'm_1', 'm_50', 'm_1035', 'm_1196', 'm_1266', 'm_1304', 'm_1270', 'm_909', 'm_3307']
211520 ['m_79132', 'm_50', 'm_260', 'm_91529', 'm_593', 'm_54286', 'm_3275', 'm_5418', 'm_48780', 'm_69122']
172357 ['m_1196', 'm_1228', 'm_1214', 'm_3365', 'm_1221', 'm_1227', 'm_47', 'm_1270', 'm_1213', 'm_3741']
261865 ['m_593', 'm_1197', 'm_2571', 'm_2762', 'm_356', 'm_2716', 'm_1219', 'm_7361', 'm_2028', 'm_3671']
35453 ['m_1954', 'm_1270', 'm_1196', 'm_586', 'm_3039', 'm_3868', 'm_1387', 'm_1370', 'm_2867', 'm_1304']
154058 ['m_593', 'm_3175', 'm_7361', 'm_260', 'm_2502', 'm_68358', 'm_1', 'm_111362', 'm_6502', 'm_1203']
269098 ['m_2762', 'm_527', 'm_1089', 'm_2959', 'm_104841', 'm_589', 'm_68358', 'm_1136', 'm_32587', 'm_159817']
61614 ['m_1242', 'm_1299', 'm_1302', 'm_2671', 'm_1961', 'm_898', 'm_26133', 'm_50', 'm_1172', 'm_1939']
136061 ['m_1203', 'm_1234', 'm_1250', 'm_6377', 'm_78499', 'm_4019', 'm_134130', 'm_2028', 'm_1270', 'm_48516']
54220 ['m_1204', 'm_904', 'm_541', 'm_1208', 'm_1221', 'm_922', 'm_1237', 'm_903', 'm_5690', 'm_3435']
116631 ['m_1207', 'm_2019', 'm_2791', 'm_908', 'm_3310', 'm_1945', 'm_5995', 'm_3114', 'm_912', 'm_945']
264577 ['m_926', 'm_3034', 'm_3801', 'm_1270', 'm_3147', 'm_6331', 'm_3089', 'm_3435', 'm_2467', 'm_3175']
206360 ['m_1207', 'm_2028', 'm_1234', 'm_30749', 'm_593', 'm_919', 'm_1304', 'm_926', 'm_3468', 'm_1927']
23026 ['m_50', 'm_2019', 'm_3134', 'm_922', 'm_5952', 'm_750', 'm_3307', 'm_2905', 'm_913', 'm_1213']
104322 ['m_260', 'm_2028', 'm_2640', 'm_1270', 'm_2571', 'm_3114', 'm_8636', 'm_3246', 'm_922', 'm_2194']
37046 ['m_6333', 'm_1219', 'm_1407', 'm_47', 'm_5952', 'm_4226', 'm_1240', 'm_1196', 'm_318', 'm_3396']
185756 ['m_2858', 'm_1219', 'm_4973', 'm_923', 'm_608', 'm_3462', 'm_2959', 'm_1213', 'm_5008', 'm_1204']
190879 ['m_1270', 'm_2959', 'm_55820', 'm_88129', 'm_111', 'm_2858', 'm_1234', 'm_356', 'm_68157', 'm_541']
142057 ['m_1198', 'm_1203', 'm_2716', 'm_134853', 'm_112552', 'm_296', 'm_593', 'm_720', 'm_16', 'm_26133']
218526 ['m_296', 'm_1222', 'm_1240', 'm_1193', 'm_111', 'm_1090', 'm_58559', 'm_16', 'm_50', 'm_1228']
56073 ['m_296', 'm_4993', 'm_260', 'm_527', 'm_88129', 'm_4226', 'm_50', 'm_2571', 'm_1291', 'm_32']
221882 ['m_1197', 'm_111759', 'm_318', 'm_4993', 'm_1089', 'm_33794', 'm_2115', 'm_1028', 'm_89492', 'm_2761']
28665 ['m_3095', 'm_923', 'm_858', 'm_1617', 'm_953', 'm_1204', 'm_1248', 'm_930', 'm_1212', 'm_899']
54271 ['m_3897', 'm_1204', 'm_1193', 'm_50', 'm_1', 'm_6711', 'm_2571', 'm_593', 'm_5902', 'm_8636']
128610 ['m_296', 'm_70286', 'm_35836', 'm_2762', 'm_119145', 'm_177765', 'm_115569', 'm_168252', 'm_99114', 'm_2716']
220000 ['m_1213', 'm_1222', 'm_4226', 'm_47', 'm_6016', 'm_593', 'm_112552', 'm_99114', 'm_1387', 'm_2858']
70539 ['m_750', 'm_904', 'm_1248', 'm_1244', 'm_899', 'm_2019', 'm_2905', 'm_930', 'm_913', 'm_2920']
93731 ['m_527', 'm_1617', 'm_296', 'm_912', 'm_3996', 'm_7361', 'm_923', 'm_150', 'm_45210', 'm_2019']
21001 ['m_318', 'm_4979', 'm_904', 'm_527', 'm_4993', 'm_1245', 'm_5952', 'm_356', 'm_260', 'm_72226']
19309 ['m_3793', 'm_1215', 'm_158', 'm_589', 'm_5444', 'm_410', 'm_2746', 'm_66371', 'm_4545', 'm_8636']
71277 ['m_593', 'm_2232', 'm_293', 'm_165', 'm_7445', 'm_3527', 'm_2288', 'm_1527', 'm_112623', 'm_98124']
51515 ['m_58559', 'm_1221', 'm_1198', 'm_50', 'm_589', 'm_1266', 'm_912', 'm_48780', 'm_87232', 'm_110']
2329 ['m_912', 'm_919', 'm_905', 'm_50', 'm_593', 'm_541', 'm_2396', 'm_1265', 'm_899', 'm_1221']
85836 ['m_2019', 'm_55820', 'm_2076', 'm_2959', 'm_1233', 'm_778', 'm_47', 'm_4848', 'm_27773', 'm_922']
109040 ['m_904', 'm_318', 'm_912', 'm_2571', 'm_4993', 'm_1221', 'm_922', 'm_5995', 'm_5952', 'm_920']
199733 ['m_858', 'm_4226', 'm_64614', 'm_98491', 'm_1221', 'm_2467', 'm_1203', 'm_1198', 'm_53972', 'm_50']
95727 ['m_3307', 'm_912', 'm_750', 'm_922', 'm_1927', 'm_4546', 'm_3730', 'm_1178', 'm_2936', 'm_3097']
137540 ['m_3134', 'm_1254', 'm_1104', 'm_4144', 'm_7327', 'm_6985', 'm_2920', 'm_2010', 'm_6993', 'm_930']
94843 ['m_1206', 'm_3000', 'm_293', 'm_1036', 'm_296', 'm_1199', 'm_2985', 'm_3740', 'm_6874', 'm_5782']
71955 ['m_318', 'm_2529', 'm_1201', 'm_1258', 'm_2028', 'm_174053', 'm_480', 'm_1732', 'm_3471', 'm_3147']
66130 ['m_1090', 'm_1199', 'm_593', 'm_1206', 'm_1266', 'm_2973', 'm_608', 'm_1254', 'm_111', 'm_1252']
51571 ['m_25', 'm_922', 'm_910', 'm_1178', 'm_3435', 'm_1131', 'm_2028', 'm_1217', 'm_595', 'm_1207']
2025 ['m_296', 'm_1178', 'm_1247', 'm_904', 'm_1260', 'm_1208', 'm_2068', 'm_2936', 'm_1228', 'm_1212']
41572 ['m_1193', 'm_1252', 'm_922', 'm_909', 'm_50', 'm_608', 'm_3006', 'm_3469', 'm_47', 'm_1254']
155328 ['m_904', 'm_2019', 'm_1178', 'm_923', 'm_3730', 'm_2288', 'm_3134', 'm_1233', 'm_7063', 'm_2920']
260317 ['m_111362', 'm_112623', 'm_1213', 'm_1214', 'm_122882', 'm_87232', 'm_7034', 'm_7802', 'm_8874', 'm_97304']
48083 ['m_1203', 'm_1207', 'm_858', 'm_1221', 'm_1304', 'm_3504', 'm_2762', 'm_4027', 'm_1204', 'm_2019']
54740 ['m_593', 'm_2858', 'm_53972', 'm_3969', 'm_58103', 'm_72641', 'm_587', 'm_4011', 'm_2803', 'm_4973']
29647 ['m_1131', 'm_1221', 'm_48516', 'm_39', 'm_3098', 'm_866', 'm_1207', 'm_923', 'm_3811', 'm_2396']
67272 ['m_4979', 'm_2730', 'm_1202', 'm_296', 'm_1252', 'm_1266', 'm_911', 'm_3683', 'm_3471', 'm_5812']
149100 ['m_1221', 'm_908', 'm_3468', 'm_1945', 'm_6985', 'm_1247', 'm_903', 'm_1256', 'm_1244', 'm_924']
57392 ['m_1240', 'm_1203', 'm_1270', 'm_1262', 'm_1214', 'm_3508', 'm_4993', 'm_3147', 'm_1210', 'm_2716']
201646 ['m_1214', 'm_1198', 'm_1617', 'm_1222', 'm_111', 'm_80463', 'm_1240', 'm_50', 'm_79132', 'm_70286']
153081 ['m_858', 'm_1221', 'm_1201', 'm_2019', 'm_7361', 'm_1203', 'm_750', 'm_1219', 'm_5291', 'm_4226']
249690 ['m_296', 'm_1207', 'm_1136', 'm_1247', 'm_1219', 'm_2186', 'm_904', 'm_1210', 'm_898', 'm_55820']
157679 ['m_57368', 'm_69122', 'm_858', 'm_2723', 'm_112852', 'm_48516', 'm_93840', 'm_6957', 'm_64614', 'm_59022']
117490 ['m_904', 'm_593', 'm_1219', 'm_1265', 'm_2858', 'm_1193', 'm_953', 'm_260', 'm_1213', 'm_608']
231770 ['m_858', 'm_318', 'm_6016', 'm_111', 'm_1222', 'm_1206', 'm_589', 'm_2858', 'm_1240', 'm_541']
8547 ['m_296', 'm_858', 'm_608', 'm_3089', 'm_6985', 'm_7361', 'm_5291', 'm_1219', 'm_1089', 'm_47']
216695 ['m_2858', 'm_1230', 'm_1193', 'm_1617', 'm_912', 'm_1131', 'm_920', 'm_908', 'm_527', 'm_55820']
186859 ['m_260', 'm_2761', 'm_1210', 'm_5618', 'm_4226', 'm_1214', 'm_110', 'm_66371', 'm_1225', 'm_2791']
173280 ['m_150', 'm_593', 'm_30749', 'm_457', 'm_72011', 'm_5995', 'm_590', 'm_1193', 'm_7143', 'm_139385']
178517 ['m_1201', 'm_1952', 'm_1221', 'm_7073', 'm_8154', 'm_2313', 'm_1304', 'm_2551', 'm_904', 'm_1080']
268292 ['m_8961', 'm_1', 'm_1247', 'm_34', 'm_50', 'm_3114', 'm_3435', 'm_2186', 'm_6016', 'm_60069']
168220 ['m_2571', 'm_58559', 'm_3527', 'm_33794', 'm_2762', 'm_1240', 'm_2000', 'm_3052', 'm_648', 'm_198']
123100 ['m_912', 'm_318', 'm_159817', 'm_3089', 'm_1201', 'm_4226', 'm_908', 'm_3629', 'm_1213', 'm_1250']
133398 ['m_904', 'm_1207', 'm_912', 'm_1304', 'm_1198', 'm_3097', 'm_922', 'm_3095', 'm_930', 'm_2324']
248019 ['m_1198', 'm_1250', 'm_1265', 'm_3435', 'm_1136', 'm_1', 'm_608', 'm_903', 'm_1189', 'm_1260']
273842 ['m_143355', 'm_119145', 'm_94018', 'm_3908', 'm_3825', 'm_7360', 'm_4148', 'm_1680', 'm_79139', 'm_122892']
261224 ['m_4226', 'm_56367', 'm_318', 'm_3298', 'm_337', 'm_95441', 'm_64969', 'm_73290', 'm_1393', 'm_143355']
265550 ['m_1258', 'm_2076', 'm_3160', 'm_1260', 'm_1252', 'm_1213', 'm_7063', 'm_1095', 'm_1208', 'm_1288']
5747 ['m_110', 'm_72998', 'm_111362', 'm_1198', 'm_168252', 'm_5418', 'm_122922', 'm_356', 'm_2000', 'm_4226']
111908 ['m_589', 'm_1036', 'm_8874', 'm_59315', 'm_1500', 'm_2918', 'm_5952', 'm_1291', 'm_89745', 'm_2987']
6465 ['m_318', 'm_2028', 'm_260', 'm_2858', 'm_50', 'm_68157', 'm_1196', 'm_2959', 'm_1193', 'm_55820']
135714 ['m_2028', 'm_1221', 'm_4226', 'm_593', 'm_1997', 'm_1240', 'm_47', 'm_1270', 'm_296', 'm_68358']
171345 ['m_296', 'm_6874', 'm_2571', 'm_115149', 'm_2019', 'm_1222', 'm_111759', 'm_1200', 'm_92535', 'm_99114']
133074 ['m_3741', 'm_913', 'm_1252', 'm_951', 'm_7925', 'm_2511', 'm_2599', 'm_2395', 'm_2300', 'm_926']
111958 ['m_111', 'm_923', 'm_926', 'm_1204', 'm_1095', 'm_2728', 'm_3424', 'm_4033', 'm_52435', 'm_1178']
45622 ['m_1254', 'm_1221', 'm_858', 'm_1198', 'm_527', 'm_589', 'm_2762', 'm_926', 'm_1247', 'm_3362']
272546 ['m_318', 'm_2571', 'm_5952', 'm_1203', 'm_48394', 'm_79132', 'm_91529', 'm_2019', 'm_2762', 'm_260']
95569 ['m_1221', 'm_904', 'm_930', 'm_1266', 'm_1387', 'm_1254', 'm_1262', 'm_1222', 'm_1', 'm_3897']
175615 ['m_2005', 'm_50', 'm_3793', 'm_8961', 'm_4226', 'm_2762', 'm_1625', 'm_59315', 'm_106918', 'm_76251']
236068 ['m_858', 'm_296', 'm_1252', 'm_111', 'm_924', 'm_923', 'm_2366', 'm_908', 'm_608', 'm_89759']
266853 ['m_318', 'm_4878', 'm_7361', 'm_4993', 'm_106920', 'm_5878', 'm_176371', 'm_527', 'm_47', 'm_1354']
146760 ['m_858', 'm_750', 'm_2160', 'm_1247', 'm_599', 'm_1260', 'm_1673', 'm_8154', 'm_55820', 'm_246']
12096 ['m_2761', 'm_5618', 'm_7387', 'm_2459', 'm_1203', 'm_2010', 'm_1954', 'm_1201', 'm_551', 'm_1252']
262989 ['m_1258', 'm_111', 'm_2959', 'm_6380', 'm_1884', 'm_904', 'm_903', 'm_1263', 'm_750', 'm_5902']
19679 ['m_318', 'm_1193', 'm_2804', 'm_1214', 'm_3421', 'm_1204', 'm_1203', 'm_1', 'm_904', 'm_3499']
256144 ['m_296', 'm_858', 'm_923', 'm_1221', 'm_750', 'm_4973', 'm_1214', 'm_2905', 'm_1198', 'm_5618']
199547 ['m_30749', 'm_1387', 'm_6870', 'm_4361', 'm_5991', 'm_1172', 'm_296', 'm_64034', 'm_1997', 'm_4008']
26786 ['m_1222', 'm_1208', 'm_318', 'm_1270', 'm_122882', 'm_159817', 'm_1240', 'm_4878', 'm_555', 'm_2858']
22947 ['m_318', 'm_1732', 'm_1196', 'm_7361', 'm_260', 'm_79132', 'm_55820', 'm_106920', 'm_32', 'm_1089']
94749 ['m_527', 'm_110', 'm_6333', 'm_2959', 'm_8636', 'm_5418', 'm_48516', 'm_1198', 'm_2858', 'm_3147']
115715 ['m_1248', 'm_1199', 'm_541', 'm_922', 'm_924', 'm_903', 'm_908', 'm_5618', 'm_3075', 'm_6987']
37317 ['m_919', 'm_858', 'm_58559', 'm_1221', 'm_1204', 'm_6377', 'm_1617', 'm_63082', 'm_88125', 'm_1219']
14124 ['m_1244', 'm_596', 'm_1136', 'm_2066', 'm_2871', 'm_2313', 'm_2716', 'm_1288', 'm_2160', 'm_1997']
151049 ['m_1240', 'm_2571', 'm_589', 'm_2028', 'm_110', 'm_527', 'm_47', 'm_480', 'm_590', 'm_1259']
281631 ['m_2571', 'm_1', 'm_2398', 'm_44555', 'm_2762', 'm_318', 'm_2291', 'm_1260', 'm_904', 'm_905']
166659 ['m_1732', 'm_60069', 'm_5878', 'm_106920', 'm_2959', 'm_48780', 'm_52281', 'm_2395', 'm_68237', 'm_3996']
80398 ['m_296', 'm_58559', 'm_1089', 'm_3996', 'm_122904', 'm_59315', 'm_1291', 'm_1617', 'm_134853', 'm_68358']
210651 ['m_1230', 'm_1193', 'm_246', 'm_1247', 'm_922', 'm_2858', 'm_1221', 'm_4034', 'm_1203', 'm_3006']
52020 ['m_1136', 'm_293', 'm_922', 'm_4973', 'm_2329', 'm_48516', 'm_1252', 'm_1201', 'm_1961', 'm_1269']
128084 ['m_858', 'm_1250', 'm_527', 'm_1221', 'm_48516', 'm_1247', 'm_1997', 'm_1304', 'm_1214', 'm_4226']
255993 ['m_955', 'm_904', 'm_1148', 'm_595', 'm_926', 'm_26133', 'm_593', 'm_905', 'm_913', 'm_48394']
64180 ['m_1617', 'm_910', 'm_595', 'm_1131', 'm_2028', 'm_1219', 'm_1247', 'm_3983', 'm_969', 'm_232']
7932 ['m_119145', 'm_68358', 'm_6754', 'm_4701', 'm_103253', 'm_122920', 'm_3617', 'm_54286', 'm_31696', 'm_6188']
138487 ['m_2571', 'm_4993', 'm_296', 'm_3097', 'm_1237', 'm_1198', 'm_3435', 'm_1219', 'm_5952', 'm_1193']
203009 ['m_6985', 'm_111', 'm_2010', 'm_923', 'm_296', 'm_6669', 'm_4226', 'm_2076', 'm_527', 'm_1251']
184822 ['m_5878', 'm_3504', 'm_541', 'm_527', 'm_1219', 'm_919', 'm_50', 'm_6669', 'm_4144', 'm_4979']
65670 ['m_296', 'm_4226', 'm_7153', 'm_4993', 'm_5952', 'm_926', 'm_60069', 'm_50', 'm_5291', 'm_923']
250224 ['m_924', 'm_6016', 'm_39183', 'm_922', 'm_1189', 'm_2066', 'm_1354', 'm_904', 'm_246', 'm_34542']
28881 ['m_111', 'm_1201', 'm_904', 'm_912', 'm_1178', 'm_1203', 'm_56782', 'm_908', 'm_260', 'm_2288']
260133 ['m_50', 'm_318', 'm_1036', 'm_1221', 'm_608', 'm_1200', 'm_2858', 'm_1136', 'm_1997', 'm_527']
183233 ['m_858', 'm_527', 'm_1203', 'm_1214', 'm_2028', 'm_1221', 'm_150', 'm_110', 'm_47', 'm_4995']
30759 ['m_1252', 'm_608', 'm_2019', 'm_1206', 'm_3307', 'm_1945', 'm_1219', 'm_1248', 'm_3468', 'm_1288']
72194 ['m_1089', 'm_1193', 'm_7361', 'm_32', 'm_4226', 'm_1199', 'm_2571', 'm_293', 'm_1209', 'm_1266']
263213 ['m_32', 'm_2858', 'm_106920', 'm_260', 'm_1203', 'm_1193', 'm_1252', 'm_142488', 'm_1206', 'm_3730']
58570 ['m_1221', 'm_1089', 'm_1222', 'm_593', 'm_1258', 'm_1732', 'm_2571', 'm_1201', 'm_1193', 'm_112552']
275204 ['m_898', 'm_912', 'm_940', 'm_3996', 'm_2935', 'm_969', 'm_1224', 'm_1207', 'm_3022', 'm_2019']
127004 ['m_1213', 'm_50', 'm_1', 'm_922', 'm_4973', 'm_58559', 'm_1387', 'm_111', 'm_1207', 'm_7361']
79362 ['m_296', 'm_5291', 'm_2019', 'm_2160', 'm_858', 'm_32', 'm_541', 'm_593', 'm_1221', 'm_6440']
107383 ['m_2858', 'm_898', 'm_904', 'm_1206', 'm_3134', 'm_928', 'm_1945', 'm_2997', 'm_2186', 'm_1231']
59455 ['m_1240', 'm_593', 'm_1265', 'm_1270', 'm_1387', 'm_2194', 'm_587', 'm_2716', 'm_4041', 'm_431']
95207 ['m_318', 'm_2858', 'm_1221', 'm_4226', 'm_858', 'm_7361', 'm_1200', 'm_110', 'm_1214', 'm_1196']
18052 ['m_1251', 'm_111', 'm_3462', 'm_1193', 'm_6016', 'm_5291', 'm_1260', 'm_318', 'm_48774', 'm_1939']
212343 ['m_1219', 'm_457', 'm_475', 'm_47', 'm_1193', 'm_1252', 'm_1213', 'm_913', 'm_904', 'm_3812']
173990 ['m_318', 'm_1196', 'm_4993', 'm_7153', 'm_2716', 'm_111362', 'm_110', 'm_63082', 'm_68954', 'm_1291']
61055 ['m_589', 'm_356', 'm_318', 'm_296', 'm_1784', 'm_2028', 'm_1200', 'm_109487', 'm_431', 'm_1610']
116632 ['m_750', 'm_909', 'm_2716', 'm_260', 'm_926', 'm_3435', 'm_745', 'm_1284', 'm_1258', 'm_1254']
59611 ['m_318', 'm_296', 'm_1291', 'm_1222', 'm_293', 'm_111', 'm_51255', 'm_1968', 'm_593', 'm_223']
239066 ['m_1193', 'm_1198', 'm_7361', 'm_926', 'm_912', 'm_589', 'm_1201', 'm_4226', 'm_1219', 'm_1361']
222512 ['m_1136', 'm_1265', 'm_1036', 'm_909', 'm_908', 'm_3897', 'm_111', 'm_1784', 'm_1704', 'm_1276']
31513 ['m_858', 'm_47', 'm_527', 'm_296', 'm_1221', 'm_1387', 'm_1193', 'm_1089', 'm_4973', 'm_1200']
71938 ['m_541', 'm_608', 'm_908', 'm_55820', 'm_912', 'm_1221', 'm_56782', 'm_1175', 'm_1252', 'm_1280']
60950 ['m_318', 'm_589', 'm_2028', 'm_7153', 'm_1214', 'm_111759', 'm_3147', 'm_1200', 'm_1923', 'm_78499']
255842 ['m_1232', 'm_1208', 'm_1136', 'm_1201', 'm_3949', 'm_922', 'm_2313', 'm_1193', 'm_3307', 'm_541']
239426 ['m_4878', 'm_1270', 'm_47', 'm_1645', 'm_2340', 'm_177593', 'm_3969', 'm_2232', 'm_148626', 'm_590']